.not-found-container {
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dxs4gnnbs/image/upload/v1719486414/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_rtpqik.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-heading {
  width: 686px;
  height: 125px;
  top: 362px;
  left: 377px;
  gap: 0px;
  font-family: HK Grotesk;
  font-size: 96px;
  font-weight: 700;
  line-height: 125.09px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0px;
}

.not-found-des {
  width: 610px;
  height: 62px;
  top: 519px;
  left: 415px;
  gap: 0px;
  font-family: HK Grotesk;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.27px;
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
}

.home-button {
  width: 127px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  gap: 8px;
  border-radius: 4px;
  background: #ffffff;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #171f46;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .not-found-container {
    background-image: url('https://res.cloudinary.com/dxs4gnnbs/image/upload/v1719486577/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_1_e9fazt.jpg');
  }
  .not-found-heading {
    width: 286px;
    height: 52px;
    top: 226px;
    left: 37px;
    font-size: 40px;
    line-height: 52.12px;
  }
  .not-found-des {
    width: 296px;
    height: 63px;
    top: 294px;
    left: 32px;
    font-size: 16px;
    line-height: 20.85px;
  }
  .home-button {
    width: 127px;
    height: 40px;
    padding: 8px 24px 8px 24px;
  }
}
