.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #181818;
  min-height: 100vh;
  width: 100%;
}

.home-top-container {
  background-size: cover;
  width: 100%;
  max-width: 1440px;
  height: 605px;
  gap: 0px;
  opacity: 0px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-container {
  width: 80%;
  align-self: center;
  margin-top: 20px;
}

.title-name {
  font-family: HK Grotesk;
  font-size: 64px;
  font-weight: 600;
  line-height: 62px;
  text-align: left;
  color: #ffffff;
  width: 312px;
  top: 223px;
  left: 164px;
  gap: 0px;
  opacity: 0px;
}
.title-description {
  font-family: HK Grotesk;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.06px;
  text-align: left;
  color: #ffffff;
  width: 443px;

  top: 309px;
  left: 164px;
  gap: 0px;
  opacity: 0px;
}

.play-button {
  width: 74px;
  height: 40px;
  padding: 8px 24px 8px 24px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  color: #171f46;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  border: none;
  cursor: pointer;
  outline: none;
}

.bottom-linear-container {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(24, 24, 24, 0.546875) 38.26%,
    #181818 92.82%,
    #181818 98.68%,
    #181818 108.61%
  );
  width: 100%;
  height: 162px;
  top: 443px;
  gap: 0px;
  opacity: 0px;
}

.body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slice-container {
  width: 80%;
  align-self: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer-social-contacts {
  width: 145px;
  height: 21px;
  top: 1231px;
  left: 648px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.footer-contact-us {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  width: 80px;
  height: 24px;
  top: 1268px;
  left: 680px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}

.loader-container {
  height: 605px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
  width: 1109px;
  height: 466px;
  top: 135px;
  left: 166px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
}

.failure-container {
  height: 605px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
  width: 1109px;
  height: 466px;
  top: 135px;
  left: 166px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
}

.failure-description {
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.24px;
  text-align: left;
  width: 251px;
  height: 18px;
  top: 367px;
  left: 595px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}

.try-again {
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #171f46;
  background: #ffffff;
  width: 94px;
  height: 32px;
  padding: 4px 16px 4px 16px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  outline: none;
  cursor: pointer;
}

.loader-containers {
  width: 1440px;
  height: 1024px;
  top: 1203px;
  left: 8547px;
  padding: 0px 0px 472px 0px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-des {
  font-family: HK Grotesk;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.27px;
  text-align: left;
  width: 430px;
  height: 31px;
  top: 615px;
  left: 505px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}

.something-went-wrong {
  width: 1440px;
  height: 1024px;
  top: 1203px;
  left: 10087px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
