.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #181818;
  min-height: 100vh;
  width: 100%;
}

.home-top-container {
  background-size: cover;
  height: 500px;
  gap: 0px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
/* .mobile-top-container {
  background-size: cover;
  height: 447px;
  gap: 0px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
} */

.home-side-gradient {
  background: linear-gradient(
    90.33deg,
    #181818 -6.5%,
    rgba(24, 24, 24, 0.6) 57.15%,
    rgba(24, 24, 24, 0) 99.77%
  );
  width: 100%;
  position: relative;
  align-self: flex-start;
  padding: 295px 50px;
  top: -105px;
  opacity: 0.8;
}

.text-container {
  width: 80%;
  align-self: center;
  margin-top: 20px;
  height: 200px;
  bottom: -60px;
  top: -600px;
  position: relative;
}

.title-name {
  font-family: HK Grotesk;
  font-size: 36px;
  font-weight: 600;
  line-height: 46.91px;
  text-align: left;
  color: #ffffff;
  width: 176px;
  top: 200px;
  left: 32px;
  gap: 0px;
}

.title-description {
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.85px;
  text-align: left;
  color: #ffffff;
  top: 255px;
  left: 32px;
  gap: 0px;
}
@media screen and (min-width: 320px) {
  .title-description {
    font-size: 16px;
  }
}

.play-button {
  width: 76px;
  height: 32px;
  padding: 8px 24px 8px 24px;
  gap: 8px;
  border-radius: 4px;
  color: #171f46;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: left;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .bottom-linear-container {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(24, 24, 24, 0.546875) 38.26%,
      #181818 92.82%,
      #181818 98.68%,
      #181818 108.61%
    );
    width: 100%;
    height: 162px;
    top: 443px;
    gap: 0px;
    flex-grow: 1;
    position: relative;
    top: -95%;
    padding: 100px 15px;
    opacity: 0.8;
    z-index: 1;
  }
}

.body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slice-container {
  width: 80%;
  align-self: center;
  margin-top: 50px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
  width: 80%;
  /* max-width: 296px; */
  height: 213px;
  top: 83px;
  left: 32px;
  gap: 0px;
  border-radius: 4px;
}

.failure-container {
  height: 605px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
  height: 213px;
  top: 83px;
  left: 32px;
  gap: 0px;
  border-radius: 4px;
}

.failure-image {
  width: 24px;
  height: 24px;
  top: 142px;
  left: 169px;
  padding: 2px 1px 3px 1px;
  gap: 0px;
}

.failure-description {
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.64px;
  text-align: left;
  width: 215px;
  height: 16px;
  top: 178px;
  left: 73px;
  gap: 0px;
  color: #ffffff;
}

.try-again {
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #171f46;
  background: #ffffff;
  width: 77px;
  height: 28px;
  padding: 2px 12px 2px 12px;
  gap: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.failure-des {
  font-family: HK Grotesk;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.27px;
  text-align: left;
  width: 430px;
  height: 31px;
  top: 615px;
  left: 505px;
  gap: 0px;
  color: #ffffff;
}

.something-went-wrong {
  width: 1440px;
  height: 1024px;
  top: 1203px;
  left: 10087px;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.slick-heading {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.85px;
  text-align: left;
  color: #ffffff;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .home-top-container {
    height: 605px;
  }
  .mobile-top-container {
    display: none;
  }
  .text-container {
    height: 300px;
  }
  .title-name {
    font-size: 64px;
    line-height: 62px;
    width: 312px;
    top: 223px;
    left: 164px;
  }
  .title-description {
    font-size: 20px;
    line-height: 26.06px;
    width: 80%;
    top: 309px;
    left: 164px;
  }
  .play-button {
    width: 74px;
    height: 40px;
    line-height: 24px;
  }
  .loader-container {
    height: 605px;
    top: 135px;
    left: 166px;
    border-radius: 8px;
  }
  .failure-container {
    height: 605px;
    top: 135px;
    left: 166px;
    border-radius: 8px;
  }
  .failure-image {
    width: 48px;
    height: 48px;
    top: 303px;
    left: 697px;
    padding: 4px 2px 6px 2px;
  }
  .failure-description {
    font-size: 14px;
    line-height: 18.24px;
    width: 251px;
    height: 18px;
    top: 367px;
    left: 595px;
  }
  .try-again {
    font-size: 14px;
    line-height: 24px;
    width: 94px;
    height: 32px;
    padding: 4px 16px 4px 16px;
  }
  .slick-heading {
    font-size: 24px;
    line-height: 31.27px;
  }
}
