.desktop-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .desktop-container {
    display: block;
  }
}

.main-bg-container {
  background-color: #131313;
  background-size: cover;
  width: 100%;
  height: 75px;
  gap: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .main-bg-container {
    background-color: #131313;
    background-size: cover;
    width: 100%;
    height: 103px;
    gap: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-top-container {
  width: 90%;
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header-top-container {
    width: 80%;
    background-color: none;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
  }
}

.title-and-nav-container {
  display: flex;
}
@media screen and (min-width: 768px) {
  .title-and-nav-container {
    display: flex;
    align-items: center;
  }
}

.title-image {
  width: 100px;
  height: 27px;
  top: 24px;
  left: 32px;
  padding: 0px;
  gap: 0px;
  opacity: 0px;
}
@media screen and (min-width: 768px) {
  .title-image {
    width: 135px;
    height: 39px;
    top: 32px;
    left: 165px;
    padding: 0px;
    gap: 0px;
  }
}

.navbar-container {
  display: flex;
  margin-left: 20px;
  padding-left: 0px;
}

.nav-item {
  list-style-type: none;
}

.search-and-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 26px;
  left: 256px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
  padding: 0.48px 1.25px 1.25px 0.44px;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .search-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    top: 40px;
    left: 1171px;
    gap: 0px;
    color: #ffffff;
    padding: 0.48px 1.25px 1.25px 0.44px;
    margin-right: 30px;
  }
}

.search-button-element {
  background: #2c2b2b;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  text-align: center;
  border: none;
  width: 30px;
  height: 22px;
  top: 27px;
  left: 257px;
  gap: 0px;
  border-radius: 0px 3px 3px 0px;
  opacity: 0px;
}
@media screen and (min-width: 768px) {
  .search-button-element {
    gap: 0px;
    opacity: 0px;
    background: #2c2b2b;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    /* padding: 5px 10px 5px 8px; */
    height: 38px;
    width: 50px;
    border-radius: 3px;
  }
}

.search-icon {
  width: 11.37px;
  height: 11.37px;
  top: 2.31px;
  left: 2.32px;
  gap: 0px;
  opacity: 0px;
}
@media screen and (min-width: 768px) {
  .search-icon {
    width: 20px;
    height: 20px;
    top: -20px;
    left: 212px;
    gap: 0px;
    opacity: 0px;
  }
}

.link-item {
  text-decoration: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .link-item {
    font-family: HK Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.35555556416511536px;
    text-align: left;
    color: #ffffff;
    margin: 10px;
    display: block;
  }
}

.search-container {
  width: 114px;
  height: 23px;
  border-radius: 4px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  align-items: center;

  border: 1px solid #f8fafc;
  border-radius: 4px;
  margin-right: 5px;
}
@media screen and (min-width: 300px) {
  .search-container {
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .search-container {
    width: 264px;
    height: 40px;
    gap: 0px;
    border-radius: 4px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #f8fafc;
    margin-right: 30px;
  }
}

.search-input {
  outline: none;
  background-color: transparent;
  width: 54px;
  height: 22px;
  gap: 0px;
  opacity: 0px;

  padding: 4px 10px 4px 8px;
  gap: 0px;
  flex-grow: 1;
  opacity: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.64px;
  text-align: left;

  color: #ffffff;

  border: none;
}

@media screen and (min-width: 768px) {
  .search-input {
    outline: none;
    background-color: transparent;
    width: 264px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    gap: 0px;

    border: 1px 0px 0px 0px;
    opacity: 0px;

    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

    color: #ffffff;
    border-right: none;
    border-top: 1px solid #f8fafc;
    border-bottom: 1px solid #f8fafc;
  }
}

.mobile-image-container {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-image-container {
    display: none;
  }
}

.profile-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .profile-image {
    display: block;
  }
}

.hamburger-button {
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
}

@media screen and (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

.popup-container {
  background: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 20px 40px;
  width: 100%;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .popup-container {
    display: none;
  }
}

.hamburger-link-item {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.35555556416511536px;
  text-align: left;
  color: #ffffff;
  width: 57px;
  height: 26px;
  top: 83px;
  left: 192px;
  gap: 0px;
  opacity: 0px;
  margin-right: 10px;
  text-decoration: none;
  display: block;
}
@media screen and (min-width: 768px) {
  .hamburger-link-item {
    display: none;
  }
}

.cross-button {
  width: 24px;
  height: 24px;
  top: 84px;
  left: 304px;
  padding: 2px;
  gap: 0px;
  opacity: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 15px;
}

.cross-icon {
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}

.link-item {
  list-style-type: none;
}
