.movie-details-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #181818;
  min-height: 100vh;
}

.movie-details-top-container {
  width: 100%;
  height: 427px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .movie-details-top-container {
    width: 100%;
    height: 501px;
    gap: 0px;
    opacity: 0px;
  }
}

.side-gradient {
  background: linear-gradient(
    90.33deg,
    #181818 -6.5%,
    rgba(24, 24, 24, 0.6) 57.15%,
    rgba(24, 24, 24, 0) 99.77%
  );
  width: 40%;
  height: 501px;
  gap: 0px;
  opacity: 0px;
}

.movie-details-text-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .movie-details-text-container {
    width: 80%;
  }
}

.movie-title {
  font-family: HK Grotesk;
  font-size: 36px;
  font-weight: 600;
  line-height: 46.91px;
  text-align: left;
  color: #ffffff;
  width: 100%;
  top: 159px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .movie-title {
    font-size: 48px;
    line-height: 62.54px;
    color: #ffffff;
    top: 183px;
    left: 164px;
    gap: 0px;
    margin-bottom: 6px;
  }
}

.duration-rated-release-date-container {
  display: flex;
  align-items: center;
}

.run-time {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.85px;
  text-align: left;
  width: 55px;
  height: 21px;
  top: 215px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .run-time {
    font-family: HK Grotesk;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.45px;
    text-align: left;
    width: 62px;
    height: 23px;
    top: 260px;
    left: 167px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
    margin-right: 15px;
  }
}

.certificate {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.85px;
  text-align: left;
  color: #ffffff;
  width: 51px;
  height: 25px;
  top: 214px;
  left: 103px;
  padding: 2px 12px 2px 12px;
  gap: 10px;
  border-radius: 2px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #ffffff;
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .certificate {
    font-family: HK Grotesk;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.45px;
    text-align: left;
    color: #ffffff;
    width: 55px;
    height: 27px;
    top: 258px;
    left: 245.5px;
    padding: 2px 12px 2px 12px;
    gap: 10px;
    border-radius: 2px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #ffffff;
    margin-right: 15px;
  }
}

.release-year {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.85px;
  text-align: left;
  width: 38px;
  height: 21px;
  top: 215px;
  left: 170px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .release-year {
    font-family: HK Grotesk;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.45px;
    text-align: left;
    width: 42px;
    height: 23px;
    top: 260px;
    left: 317px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
  }
}

.overview_des {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.85px;
  text-align: left;
  top: 255px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
  margin-top: 6px;
}

@media screen and (min-width: 768px) {
  .overview_des {
    top: 309px;
    left: 164px;
    gap: 0px;
    opacity: 0px;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #ffffff;
    margin-top: 6px;
  }
}

.movie-details-play-button {
  width: 76px;
  height: 32px;
  top: 342px;
  left: 32.5px;
  padding: 8px 24px 8px 24px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  background: #ffffff;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #171f46;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .movie-details-play-button {
    width: 74px;
    height: 40px;
    top: 419px;
    left: 164.5px;
    border-radius: 3px;
    opacity: 0px;
    padding: 8px 24px 8px 24px;
    gap: 8px;
    border-radius: 4px;
    background: #ffffff;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #171f46;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.bottom-gradient {
  width: 100%;
  height: 166.23px;
  top: 334.77px;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(24, 24, 24, 0.546875) 38.26%,
    #181818 92.82%,
    #181818 98.68%,
    #181818 108.61%
  );
  flex-grow: 1;
}
.details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .details-container {
    width: 80%;
  }
}

.genre-container {
  padding-left: 0px;
  width: 30%;
}
@media screen and (min-width: 768px) {
  .genre-container {
    width: 20%;
  }
}

.each-genre-item {
  list-style-type: none;
}

.genre-names {
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .genre-names {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.genre-heading {
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.24px;
  text-align: left;
  color: #64748b;
  width: 45px;
  height: 18px;
  top: 414px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
}

@media screen and (min-width: 768px) {
  .genre-heading {
    font-size: 18px;
    line-height: 26px;
    width: 58px;
    height: 26px;
    top: 525px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
  }
}

.languages-container {
  padding-left: 0px;
  width: 33%;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .languages-container {
    width: 20%;
  }
}

.languages-available {
  width: 97px;
  height: 18px;
  top: 414px;
  left: 117px;
  gap: 0px;
  opacity: 0px;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.24px;
  text-align: left;
  color: #64748b;
}

@media screen and (min-width: 768px) {
  .languages-available {
    width: 125px;
    height: 26px;
    top: 525px;
    left: 450px;
    gap: 0px;
    opacity: 0px;
    line-height: 26px;
  }
}

.each-language-item {
  list-style-type: none;
}

.languages {
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .languages {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.rating-count-average-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .rating-count-average-container {
    width: 20%;
  }
}

.rating-list-container {
  padding-left: 0px;
}

.rating-count-heading {
  width: 82px;
  height: 18px;
  top: 414px;
  left: 246px;
  gap: 0px;
  opacity: 0px;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.24px;
  text-align: left;
  color: #64748b;
}

@media screen and (min-width: 768px) {
  .rating-count-heading {
    width: 106px;
    height: 26px;
    top: 525px;
    left: 735px;
    gap: 0px;
    opacity: 0px;
    font-size: 18px;
    line-height: 26px;
  }
}

.rating-item {
  list-style-type: none;
}

.rating-count {
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  top: 439px;
  left: 246px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .rating-count {
    font-size: 16px;
    line-height: 24px;
    top: 559px;
    left: 735px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 0px;
  }
}

.rating-average-container {
  padding-left: 0px;
  margin-top: 0px;
}

.rating-average-heading {
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.24px;
  text-align: left;
  color: #64748b;
  width: 94px;
  height: 18px;
  top: 463px;
  left: 246px;
  gap: 0px;
  opacity: 0px;
}
@media screen and (min-width: 768px) {
  .rating-average-heading {
    font-family: HK Grotesk;
    font-size: 18px;
    line-height: 26px;
  }
}

.rating-avg-item {
  list-style-type: none;
}

.rating-average {
  color: #ffffff;
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  top: 629px;
  left: 735px;
  gap: 0px;
  opacity: 0px;
}
@media screen and (min-width: 768px) {
  .rating-average {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    top: 629px;
    left: 735px;
    gap: 0px;
    opacity: 0px;
  }
}

.budget-release-date-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media screen and (min-width: 768px) {
  .budget-release-date-container {
    width: 20%;
  }
}

.budget-list-container {
  padding-left: 0px;
  margin-bottom: 0px;
}

.budget-heading {
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.24px;
  text-align: left;
  color: #64748b;
  width: 44px;
  height: 18px;
  top: 532px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
}

@media screen and (min-width: 768px) {
  .budget-heading {
    font-size: 18px;
    line-height: 26px;
    width: 57px;
    height: 26px;
    top: 525px;
    left: 1025px;
    gap: 0px;
    opacity: 0px;
  }
}

.budget-item-container {
  list-style-type: none;
}

.budget-value {
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .budget-value {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
  }
}

.release-list-container {
  padding-left: 0px;
  margin-top: 0px;
}

.release-date-heading {
  width: 82px;
  height: 18px;
  top: 581px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.24px;
  text-align: left;
  color: #64748b;
}
@media screen and (min-width: 768px) {
  .release-date-heading {
    width: 105px;
    height: 26px;
    top: 595px;
    left: 1025px;
    gap: 0px;
    opacity: 0px;
    font-size: 18px;
    line-height: 26px;
  }
}

.release-date-item-container {
  list-style-type: none;
}

.release-date-value {
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  top: 629px;
  left: 1025px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .release-date-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    top: 629px;
    left: 1025px;
    gap: 0px;
    opacity: 0px;
  }
}

.similar-videos-container {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .similar-videos-container {
    width: 80%;
  }
}

.similar-videos-heading {
  font-family: HK Grotesk;
  font-size: 20px;
  font-weight: 600;
  line-height: 26.06px;
  text-align: left;
  width: 121px;
  height: 26px;
  top: 650px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .similar-videos-heading {
    font-size: 24px;
    line-height: 31.27px;
    width: 146px;
    height: 31px;
    top: 703px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
  }
}

.similar-list-container {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.movie-details-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.movie-details-footer-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.movie-details-footer-social-contacts {
  width: 111px;
  height: 16px;
  top: 896px;
  left: 125px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .movie-details-footer-social-contacts {
    width: 145px;
    height: 21px;
    top: 1231px;
    left: 648px;
    gap: 0px;
    opacity: 0px;
  }
}

.movie-details-icons {
  font-family: Font Awesome 5 Brands;
  font-size: 13.71px;
  font-weight: 400;
  line-height: 15.77px;
  text-align: center;
  width: 16px;
  height: 16px;
  top: 896px;
  left: 220px;
  gap: 0px;
  opacity: 0px;
}
@media screen and (min-width: 768px) {
  .movie-details-icons {
    font-family: Font Awesome 5 Brands;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.7px;
    text-align: center;
    width: 21px;
    height: 21px;
    top: 1226px;
    left: 771px;
    gap: 0px;
    opacity: 0px;
  }
}

.movie-details-footer-contact-us {
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  width: 60px;
  height: 16px;
  top: 926px;
  left: 151px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .movie-details-footer-contact-us {
    font-size: 16px;
    line-height: 24px;
    width: 80px;
    height: 24px;
    top: 1268px;
    left: 680px;
    gap: 0px;
    opacity: 0px;
  }
}

.movie-details-failure-container {
  height: 605px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
  height: 213px;
  top: 83px;
  left: 32px;
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
}
@media screen and (min-width: 768px) {
  .movie-details-failure-container {
    height: 605px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
    height: 466px;
    top: 135px;
    left: 166px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
  }
}

.movie-details-failure-image {
  width: 24px;
  height: 24px;
  top: 142px;
  left: 169px;
  padding: 2px 1px 3px 1px;
  gap: 0px;
  opacity: 0px;
}
@media screen and (min-width: 768px) {
  .movie-details-failure-image {
    width: 48px;
    height: 48px;
    top: 303px;
    left: 697px;
    padding: 4px 2px 6px 2px;
    gap: 0px;
    opacity: 0px;
  }
}

.movie-details-failure-description {
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.64px;
  text-align: left;
  width: 215px;
  height: 16px;
  top: 178px;
  left: 73px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .movie-details-failure-description {
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.24px;
    text-align: left;
    width: 251px;
    height: 18px;
    top: 367px;
    left: 595px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
  }
}

.movie-details-try-again {
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #171f46;
  background: #ffffff;
  width: 77px;
  height: 28px;
  padding: 2px 12px 2px 12px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;

  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .movie-details-try-again {
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #171f46;
    background: #ffffff;
    width: 94px;
    height: 32px;
    padding: 4px 16px 4px 16px;
    gap: 8px;
    border-radius: 4px;
    opacity: 0px;
    outline: none;
    cursor: pointer;
  }
}
