.search-bg-container {
  background: #181818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-list-container {
  width: 90%;
  padding-left: 0px;
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .search-list-container {
    width: 80%;
  }
}

.search-loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-list-item {
  list-style-type: none;
  width: 90px;
  height: 100px;
  top: 99px;
  left: 32px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  margin-right: 15px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .search-list-item {
    width: 255px;
    height: 170px;
    top: 135px;
    left: 166px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.search-poster {
  width: 90px;
  height: 100px;
  top: 99px;
  left: 32px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
}
@media screen and (min-width: 768px) {
  .search-poster {
    width: 255px;
    height: 170px;
    top: 135px;
    left: 166px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
  }
}

.no-search-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.no-search-result-image {
  width: 209.52px;
  height: 176px;
  top: 196px;
  left: 75px;
  gap: 0px;
  opacity: 0px;
}
@media screen and (min-width: 768px) {
  .no-search-result-image {
    width: 450px;
    height: 378px;
    top: 284px;
    left: 495px;
    gap: 0px;
    opacity: 0px;
  }
}

.no-movies-des {
  width: 296px;
  height: 48px;
  top: 396px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .no-movies-des {
    font-family: HK Grotesk;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.27px;
    text-align: center;
    width: 565px;
    height: 31px;
    top: 710px;
    left: 438px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
  }
}

.search-failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
  width: 100%;
  height: 90px;
  top: 353px;
  left: 32px;
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
}

@media screen and (min-width: 768px) {
  .search-failure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
    width: 100%;
    height: 170px;
    top: 961px;
    left: 166px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
  }
}

.search-failure-image {
  width: 16px;
  height: 16px;
  top: 363px;
  left: 173px;
  padding: 1.33px 0.67px 2px 0.67px;
  gap: 0px;
  opacity: 0px;
}

@media screen and (min-width: 768px) {
  .search-failure-image {
    width: 32px;
    height: 32px;
    top: 732px;
    left: 705px;
    padding: 2.67px 1.33px 4px 1.33px;
    gap: 0px;
    opacity: 0px;
  }
}

.search-failure-description {
  font-family: HK Grotesk;
  font-size: 10px;
  font-weight: 500;
  line-height: 13.03px;
  text-align: left;
  width: 179px;
  height: 13px;
  top: 383px;
  left: 91px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .search-failure-description {
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.24px;
    text-align: left;
    width: 251px;
    height: 18px;
    top: 367px;
    left: 595px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
  }
}

.search-try-again {
  font-family: HK Grotesk;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #171f46;
  background: #ffffff;
  width: 69px;
  height: 24px;
  padding: 4px 12px 4px 12px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .search-try-again {
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #171f46;
    background: #ffffff;
    width: 94px;
    height: 32px;
    padding: 4px 16px 4px 16px;
    gap: 8px;
    border-radius: 4px;
    opacity: 0px;
    outline: none;
    cursor: pointer;
  }
}
