.background-image {
  background: #131313;
  padding-top: 40px;
  min-height: 100vh;
}
@media screen and (min-width: 768px) {
  .background-image {
    background-image: url('https://res.cloudinary.com/dxs4gnnbs/image/upload/v1719038922/netfilx_1_gjmd4x.png');
    min-height: 100vh;
    background-size: cover;
    padding-top: 40px;
  }
}

.form-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
@media screen and (min-width: 768px) {
  .form-bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }
}

.login-website-logo {
  width: 100px;
  height: 27px;
  top: 32px;
  left: 32px;
  padding: 0px;
  gap: 0px;
  opacity: 0px;
}

@media screen and (min-width: 768px) {
  .login-website-logo {
    width: 180px;
    height: 52px;
    top: 48px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
  }
}

.heading-container {
  width: 180px;
  height: 52px;
  top: 48px;
  left: 165px;
  gap: 0px;
  opacity: 0px;
  color: #e50014;
  margin-left: 60px;
  display: flex;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

@media screen and (min-width: 768px) {
  .form-container {
    background-color: #0c0b10;
    width: 456px;
    height: 440px;
    top: 292px;
    left: 492px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.login-heading {
  width: 80px;
  height: 40px;
  top: 164px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #ffffff;
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .login-heading {
    font-family: 'HK Grotesk';
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    align-self: center;
  }
}

.input-container {
  width: 296px;
  height: 64px;
  top: 228px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .input-container {
    width: 360px;
    height: 64px;
    top: 428px;
    left: 540px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.label-text {
  width: 65px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .label-text {
    width: 65px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
    font-family: 'HK Grotesk';
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 10px;
  }
}

.input-field {
  width: 296px;
  height: 40px;
  top: 24px;
  gap: 0px;
  border-radius: 2px;
  opacity: 0px;
  background-color: #333333;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #e2e8f0;
  border: none;
  outline: none;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .input-field {
    width: 360px;
    height: 40px;
    top: 24px;
    gap: 0px;
    border-radius: 2px;
    opacity: 0px;
    background: #333333;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #e2e8f0;
    border: none;
    padding-left: 16px;
    outline: none;
  }
}

.password-container {
  width: 296px;
  height: 64px;
  top: 308px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .password-container {
    width: 360px;
    height: 64px;
    top: 428px;
    left: 540px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
  }
}

.password-field {
  background: #333333;
  width: 296px;
  height: 40px;
  top: 24px;
  gap: 0px;
  opacity: 0px;
  border-radius: 2px;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #e2e8f0;
  padding-left: 16px;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .password-field {
    background: #333333;
    width: 360px;
    height: 40px;
    top: 24px;
    gap: 0px;
    border-radius: 2px;
    opacity: 0px;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #e2e8f0;
    padding-left: 16px;
    border: none;
    outline: none;
  }
}

.login-button {
  width: 296px;
  height: 40px;
  top: 404px;
  left: 32px;
  padding: 8px 20px 8px 20px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;

  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
  background: #e50914;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .login-button {
    width: 360px;
    height: 40px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #f8fafc;
    background: #e50914;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 40px;
  }
}

.err-msg {
  color: #dc2626;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  height: 16px;
  top: 384px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .err-msg {
    color: #dc2626;
    font-family: 'HK Grotesk';
    font-size: 14px;
    font-weight: 400;
    line-height: 18.24px;
    text-align: left;
    gap: 0px;
    opacity: 0px;
    width: 250px;
    height: 18px;
    top: 592px;
    left: 540px;
    margin-bottom: 0px;
  }
}
