.similar-list-item-container {
  list-style-type: none;
  margin-bottom: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .similar-list-item-container {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

.similar-movie-image {
  width: 90px;
  height: 64px;
  top: 692px;
  left: 32px;
  gap: 0px;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .similar-movie-image {
    width: 255px;
    height: 170px;
    top: 758px;
    left: 165px;
    gap: 0px;
    border-radius: 8px;
  }
}
