.similar-list-item-container {
  list-style-type: none;
  margin-bottom: 20px;
}

.button-item-container {
  width: 255px;
  height: 170px;
  top: 758px;
  left: 165px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  cursor: pointer;
  outline: none;
  border: none;
  padding-left: 0px;
}

.similar-movie-image {
  width: 255px;
  height: 170px;
  top: 758px;
  left: 165px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
}
