.similar-list-item-container {
  list-style-type: none;
  margin-bottom: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .similar-list-item-container {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

.similar-movie-image {
  width: 100px;
  height: 170px;
  top: 692px;
  left: 32px;
  gap: 0px;
  border-radius: 8px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.similar-movie-image:hover {
  transform: scale(1.07);
}

@media screen and (min-width: 768px) {
  .similar-movie-image {
    width: 255px;
    height: 170px;
    top: 758px;
    left: 165px;
    gap: 0px;
    border-radius: 8px;
  }
}
